.animate_stroke {
	stroke-dasharray: 5;
	stroke-dashoffset: 5;
	animation: dash 15s 1s cubic-bezier(0.1, 0.99, 0, 1) both;
}

@keyframes dash {
	0% {
		stroke-dashoffset: 100%;
		opacity: 0;
	}

	100% {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}
