services:
    db:
        image: postgres:17.5
        restart: always
        environment:
            - POSTGRES_DB=atlasway
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
        ports:
            - '5432:5432'
