/* Custom styles for select and option tags */

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--color-bd-default);
  background-color: var(--color-middle);
  color: var(--color-default);
  cursor: pointer;
  transition:
    color 200ms,
    border-color 200ms;
}

.select:hover {
  border-color: var(--color-bd-strong);
  color: var(--color-strong);
}

.select::-ms-expand {
  display: none;
}

.select > option {
  color: var(--color-default);
  background-color: var(--color-middle);
}
