.nav_link,
.nav_sub_link {
	display: flex;
	align-items: center;
	height: calc(var(--spacing) * 10);
	gap: calc(var(--spacing) * 2);
	padding-left: calc(var(--spacing) * 2);
	font-size: 1.125rem;
}

.nav_link.closed {
	gap: calc(var(--spacing) * 0);
	padding: calc(var(--spacing) * 2);
}
.nav_sub_link.closed {
	height: 0;
}

.nav_link,
.nav_sub_link,
.dropdown_link {
	margin-left: calc(var(--spacing) * 4);
	margin-right: calc(var(--spacing) * 4);
}

.nav_link.closed,
.nav_sub_link.closed,
.dropdown_link.closed {
	aspect-ratio: 1 / 1;
	margin-left: auto;
	margin-right: auto;
}

.nav_link,
.nav_sub_link,
.dropdown_link > header {
	border-radius: 0.25rem;
}

.nav_link.closed,
.nav_sub_link.closed,
.dropdown_link.closed > header {
	border-radius: 2rem;
}

.nav_sub_link {
	padding-top: calc(var(--spacing) * 0.5);
	padding-bottom: calc(var(--spacing) * 0.5);
	margin-left: calc(var(--spacing) * 8);
}

.nav_sub_links {
	position: relative;
}

.nav_sub_links::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 1rem;
	width: 2px;
	border-radius: 2px;
	height: 100%;
	background-color: var(--color-sec-foreground);
	opacity: 0.5;
	transition: background-color 0.2s ease-out;
	mask-image: linear-gradient(to top, transparent -20%, black 100%);
}

.dropdown_link.nav_link {
	margin: 0;
}

.dropdown_link.nav_link.closed {
	padding: calc(var(--spacing) * 2);
}

.active {
	background-color: var(--color-primary);
	color: var(--color-main-foreground);
}
