@import 'tailwindcss';
@import 'tailwindcss-animated';

:root {
	interpolate-size: allow-keywords;
	--header-height: calc(var(--spacing) * 14);
	--sidebar-height: calc(100% - var(--header-height));
	--sidebar-width: calc(var(--spacing) * 74);
}

@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@utility fg-* {
	color: --value(--color-*);
}

@theme {
	/* -- Color palette -- */

	/* Brand Colors */

	--color-primary: #bd1e01;
	--color-secondary: #bc7700;
	--color-tertiary: #eb5e31;
	--color-accent: #e6a737;

	/* Utility Colors */

	--color-subtle: var(--color-zinc-600);
	--color-full-black: #0a0a0a;
	--color-complete: var(--color-green-600);
	--color-cancel: var(--color-red-600);

	/* Font families */

	--font-funnel-display: var(--font-funnel-display);
	--font-outfit: var(--font-outfit);

	/* Breakpoints */
	--breakpoint-xs: 30rem;

	/* Static versions */
	/* 
	
	These will be static (don't change with the current dark/light theme): 
	they have an ending with the theme color -dark and -light.

	For example:
	[--color-back-dark]: is the static version of "--color-back" but from the dark theme
	[--color-back-light]: is the static light version of "--color-back"
	
	*/

	/* Dark */
	--color-back-dark: #0a0a0a;
	--color-middle-dark: #101010;
	--color-front-dark: #1a1a1a;

	--color-strong-dark: #fafafa;
	--color-default-dark: #c0c0c0;
	--color-muted-dark: #a0a0a0;

	--color-bd-strong-dark: #404040;
	--color-bd-default-dark: #272727;
	--color-bd-muted-dark: #1a1a1a;

	/* Light */
	--color-back-light: var(--color-slate-200);
	--color-middle-light: var(--color-slate-50);
	--color-front-light: #eaeafa;

	--color-strong-light: #050505;
	--color-default-light: #2a2a2a;
	--color-muted-light: #4a4a4a;

	--color-bd-strong-light: #d0d0d0;
	--color-bd-default-light: #d9d9d9;
	--color-bd-muted-light: #e0e0e0;

	/* Dynamic Colors */

	/* Background Colors */
	--color-back: var(--color-back-dark);
	--color-middle: var(--color-middle-dark);
	--color-front: var(--color-front-dark);

	/* Foreground Colors */
	--color-strong: var(--color-strong-dark);
	--color-default: var(--color-default-dark);
	--color-muted: var(--color-muted-dark);

	/* Border Colors */
	--color-bd-strong: var(--color-bd-strong-dark);
	--color-bd-default: var(--color-bd-default-dark);
	--color-bd-muted: var(--color-bd-muted-dark);
}

/* Light Color Versions */

html[data-theme='light'] {
	--color-back: var(--color-back-light);
	--color-middle: var(--color-middle-light);
	--color-front: var(--color-front-light);

	/* Foreground Colors */

	--color-strong: var(--color-strong-light);
	--color-default: var(--color-default-light);
	--color-muted: var(--color-muted-light);

	/* Border Colors */

	--color-bd-strong: var(--color-bd-strong-light);
	--color-bd-default: var(--color-bd-default-light);
	--color-bd-muted: var(--color-bd-muted-light);
}

@layer components {
	/* Button Colors */

	.pil-btn {
		@apply flex items-center gap-2 rounded-full border px-4 py-2
		bg-subtle/10 border-subtle/20 
		hover:bg-primary transition-colors;
	}

	.btn-primary {
		@apply cursor-pointer font-normal
		bg-primary fg-strong-dark 
		hover:bg-primary/90 
		transition-colors;
	}

	.btn-primary-outline {
		@apply cursor-pointer font-normal
		bg-transparent outline-2 -outline-offset-2 outline-primary fg-strong
		hover:bg-primary/10
		light:hover:outline-primary/60
		transition-colors;
	}

	.btn-secondary {
		@apply cursor-pointer font-normal
		bg-secondary fg-strong
		hover:bg-secondary/90 transition-colors;
	}

	.btn-accent {
		@apply cursor-pointer font-normal
		bg-accent text-strong
		hover:bg-accent/90 transition-colors;
	}

	.btn-subtle {
		@apply cursor-pointer font-normal 
		bg-subtle/20 fg-strong
		hover:bg-subtle/30 transition-colors;
	}

	.btn-subtle-outline {
		@apply bg-transparent border border-secondary fg-secondary hover:bg-secondary hover:fg-strong transition-colors;
	}

	/* Button Sizes */

	.btn-xs {
		@apply text-sm px-2 py-1 rounded;
	}

	.btn-sm {
		@apply text-sm px-3 py-1.5 rounded;
	}

	.btn-md {
		@apply text-base px-4 py-2 rounded;
	}

	.btn-lg {
		@apply text-lg px-6 py-3 rounded;
	}

	.dashboard-card,
	.dashboard-card-default {
		@apply rounded-xl p-4;
	}

	.dashboard-card-bg,
	.dashboard-card-default {
		@apply bg-middle;
	}

	.dashboard-card-border,
	.dashboard-card-default {
		@apply border border-bd-muted;
	}
}

body {
	position: relative;
	background: var(--color-back);
	color: var(--color-default);
	font-family: 'Outfit', sans-serif;
	font-size: 1rem;
	z-index: 10;
}

body::before {
	content: '';
	position: fixed;
	inset: 0;
	background: color-mix(in oklch, var(--color-foreground) 5%, transparent);
	z-index: -10;
	mask: linear-gradient(to bottom, transparent 0%, transparent 60%, black 100%);
}

.scrollbar-y {
	overflow-y: scroll;
	scrollbar-gutter: stable;

	&::-webkit-scrollbar {
		width: calc(var(--spacing) * 3);
	}

	&::-webkit-scrollbar-track {
		background: var(--color-sec-background);
	}

	&::-webkit-scrollbar-thumb {
		background-color: color-mix(in oklch, var(--color-subtle) 50%, transparent);
		border-radius: calc(var(--spacing) * 6);
		border: 2px solid transparent;
		background-clip: content-box;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--color-subtle);
	}
}
