@import "tailwindcss";

@theme inline {
	--color-background: var(--color-zinc-950);
	--color-foreground: var(--color-sky-50);
	--font-funnel-sans: var(--font-funnel-sans);
	--font-funnel-display: var(--font-funnel-display);
}

body {
	background: var(--color-background);
	color: var(--color-foreground);
	font-family: "Funnel Sans", sans-serif;
	font-size: 1rem;
}
