@import 'tailwindcss';
@import 'tailwindcss-animated';

:root {
	interpolate-size: allow-keywords;
	--header-height: calc(var(--spacing) * 14);
	--sidebar-height: calc(100% - var(--header-height));
	--sidebar-width: calc(var(--spacing) * 74);
}

@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@theme {
	/* Color palette */

	--color-primary: #bd1e01; /* Milano Red */
	--color-secondary: #bc7700;
	--color-tertiary: #eb5e31;
	--color-accent: #e6a737;
	--color-subtle: var(--color-zinc-600);
	--color-full-black: #0a0a0a;
	--color-complete: var(--color-green-600);
	--color-cancel: var(--color-red-600);

	/* Dark colors */

	--color-background: #0a0a0a; /* Cod Grey */
	--color-sec-background: var(--color-zinc-900);
	--color-main-foreground: var(--color-sky-50);
	--color-foreground: color-mix(in oklch, var(--color-main-foreground) 70%, transparent);
	--color-sec-foreground: color-mix(in oklch, var(--color-main-foreground) 40%, transparent);

	/* Light colors */

	--color-light-background: var(--color-slate-200);
	--color-light-sec-background: var(--color-sky-50);
	--color-light-main-foreground: var(--color-zinc-900);
	--color-light-sec-foreground: color-mix(
		in oklch,
		var(--color-light-main-foreground) 60%,
		transparent
	);

	--font-funnel-sans: var(--font-funnel-sans);
	--font-funnel-display: var(--font-funnel-display);
}

html[data-theme='light'] {
	--color-background: var(--color-slate-200);
	--color-foreground: color-mix(in oklch, var(--color-light-main-foreground) 70%, transparent);
}

@layer components {
	/* Backgrounds */

	.ld-sec-bg {
		@apply bg-sec-background light:bg-light-sec-background transition-colors;
	}

	.ld-sec-fg {
		@apply text-sec-foreground light:text-light-sec-foreground transition-colors;
	}

	.ld-sub-fg {
		@apply text-zinc-500 light:text-zinc-400 transition-colors;
	}

	/* Foregrounds */

	.ld-main-fg {
		@apply text-main-foreground light:text-light-main-foreground transition-colors;
	}

	.ld-main-fg-gradient {
		@apply text-transparent w-fit bg-linear-to-t from-0% to-50% from-foreground to-main-foreground light:from-light-main-foreground light:to-light-main-foreground/80 light:from-50% light:to-100% bg-clip-text transition-colors;
	}

	/* Buttons */

	/* Button Colors */

	.pil-btn {
		@apply flex items-center gap-2 rounded-full border px-4 py-2
		bg-subtle/10 border-subtle/20 
		hover:bg-primary transition-colors;
	}

	.btn-primary {
		@apply cursor-pointer font-normal
		bg-primary text-main-foreground 
		hover:bg-primary/90 
		transition-colors;
	}

	.btn-primary-outline {
		@apply cursor-pointer font-normal
		bg-transparent outline-2 -outline-offset-2 outline-primary text-main-foreground
		hover:bg-primary/10 hover:text-main-foreground
		light:text-light-main-foreground light:hover:text-light-main-foreground light:hover:outline-primary/60
		transition-colors;
	}

	.btn-secondary {
		@apply cursor-pointer font-normal
		bg-secondary text-main-foreground
		hover:bg-secondary/90 transition-colors;
	}

	.btn-accent {
		@apply cursor-pointer font-normal
		bg-accent text-main-foreground
		hover:bg-accent/90 transition-colors;
	}

	.btn-subtle {
		@apply cursor-pointer font-normal 
		bg-subtle/20 text-main-foreground light:text-light-main-foreground
		hover:bg-subtle/30 transition-colors;
	}

	.btn-subtle-outline {
		@apply bg-transparent border border-secondary text-secondary hover:bg-secondary hover:text-main-foreground transition-colors;
	}

	/* Button Sizes */

	.btn-xs {
		@apply text-sm px-2 py-1 rounded;
	}

	.btn-sm {
		@apply text-sm px-3 py-1.5 rounded;
	}

	.btn-md {
		@apply text-base px-4 py-2 rounded;
	}

	.btn-lg {
		@apply text-lg px-6 py-3 rounded;
	}

	.dashboard-card,
	.dashboard-card-default {
		@apply rounded-xl p-4;
	}

	.dashboard-card-bg,
	.dashboard-card-default {
		@apply bg-background light:bg-light-sec-background;
	}

	.dashboard-card-border,
	.dashboard-card-default {
		@apply border border-foreground/10;
	}
}

body {
	position: relative;
	background: var(--color-background);
	color: var(--color-foreground);
	font-family: 'Funnel Sans', sans-serif;
	font-size: 1rem;
	z-index: 10;
}

body::before {
	content: '';
	position: fixed;
	inset: 0;
	background: color-mix(in oklch, var(--color-foreground) 5%, transparent);
	z-index: -10;
	mask: linear-gradient(to bottom, transparent 0%, transparent 60%, black 100%);
}

.scrollbar-y {
	overflow-y: scroll;
	scrollbar-gutter: stable;

	&::-webkit-scrollbar {
		width: calc(var(--spacing) * 3);
	}

	&::-webkit-scrollbar-track {
		background: var(--color-sec-background);
	}

	&::-webkit-scrollbar-thumb {
		background-color: color-mix(in oklch, var(--color-subtle) 50%, transparent);
		border-radius: calc(var(--spacing) * 6);
		border: 2px solid transparent;
		background-clip: content-box;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--color-subtle);
	}
}
