@import 'tailwindcss';
@import 'tailwindcss-animated';

:root {
  interpolate-size: allow-keywords;
  --header-height: calc(var(--spacing) * 14);
  --sidebar-height: calc(100% - var(--header-height));
  --sidebar-width: calc(var(--spacing) * 60);
}

@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  /* Brand Colors */

  --color-primary: #bd1e01;
  --color-secondary: #bc7700;
  --color-tertiary: #eb5e31;
  --color-accent: #e6a737;

  /* Utility Colors */

  --color-subtle: var(--color-zinc-600);
  --color-full-black: #0a0a0a;

  /* Font families */

  --font-funnel-display: var(--font-funnel-display);
  --font-outfit: var(--font-outfit);

  /* Breakpoints */
  --breakpoint-xs: 30rem;

  /* Static color versions */
  /* 
    These will be static (don't change with the current dark/light theme): 
	  they have an ending with the theme color -dark and -light. 

	  For example:
	  [--color-back-dark]: is the static version of "--color-back" but from the dark theme
	  [--color-back-light]: is the static light version of "--color-back"
	*/

  /* Dark */

  /* Background */
  --color-fill-back-dark: #0a0a0a;
  --color-fill-base-dark: #0c0c0c;
  --color-fill-middle-dark: #121212;
  --color-fill-front-dark: #161616;
  --color-fill-top-dark: #202020;

  /* Foreground */
  --color-fg-strong-dark: #fafafa;
  --color-fg-default-dark: #c0c0c0;
  --color-fg-subtle-dark: #a0a0a0;
  --color-fg-muted-dark: #a0a0a0;

  /* Borders */
  --color-bd-strong-dark: #272727;
  --color-bd-default-dark: #202020;
  --color-bd-muted-dark: #1a1a1a;

  /* Status */
  --color-success-dark: var(--color-green-500);
  --color-success-fg-dark: var(--color-green-600);
  --color-success-fill-dark: var(--color-green-900);

  --color-danger-dark: var(--color-red-600);
  --color-danger-fg-dark: var(--color-red-700);
  --color-danger-fill-dark: var(--color-red-900);

  --color-info-dark: var(--color-blue-500);
  --color-info-bd-dark: var(--color-blue-600);
  --color-info-fill-dark: var(--color-blue-900);

  --color-warning-dark: var(--color-yellow-500);
  --color-warning-fg-dark: var(--color-yellow-600);
  --color-warning-fill-dark: var(--color-yellow-900);

  /* Accessibility */
  --color-focus-dark: #fff;

  /* Light */

  /* Background */
  --color-fill-back-light: #f8f8ff;
  --color-fill-base-light: #fcfcff;
  --color-fill-middle-light: #eaeafa;
  --color-fill-front-light: #e8e8fa;
  --color-fill-top-light: #e4e4fa;

  /* Foreground */
  --color-fg-strong-light: #050505;
  --color-fg-default-light: #2a2a2a;
  --color-fg-subtle-light: #2a2a2a;
  --color-fg-muted-light: #4a4a4a;

  /* Borders */
  --color-bd-strong-light: #d0d0d0;
  --color-bd-default-light: #d9d9d9;
  --color-bd-muted-light: #e0e0e0;

  /* Status */
  --color-success-light: var(--color-green-700);
  --color-success-bd-light: var(--color-green-800);
  --color-success-fill-light: var(--color-green-900);

  --color-danger-light: var(--color-red-700);
  --color-danger-bd-light: var(--color-red-800);
  --color-danger-fill-light: var(--color-red-900);

  --color-info-light: var(--color-blue-700);
  --color-info-bd-light: var(--color-blue-800);
  --color-info-fill-light: var(--color-blue-900);

  --color-warning-light: var(--color-yellow-600);
  --color-warning-bd-light: var(--color-yellow-700);
  --color-warning-fill-light: var(--color-yellow-800);

  /* Accessibility */
  --color-focus-light: #000;

  /* Dynamic Colors */

  /* Background */
  --color-fill-back: var(--color-fill-back-dark);
  --color-fill-base: var(--color-fill-base-dark);
  --color-fill-middle: var(--color-fill-middle-dark);
  --color-fill-front: var(--color-fill-front-dark);
  --color-fill-top: var(--color-fill-top-dark);

  /* Foreground */
  --color-fg-strong: var(--color-fg-strong-dark);
  --color-fg-default: var(--color-fg-default-dark);
  --color-fg-subtle: var(--color-fg-subtle-dark);
  --color-fg-muted: var(--color-fg-muted-dark);

  /* Border */
  --color-bd-strong: var(--color-bd-strong-dark);
  --color-bd-default: var(--color-bd-default-dark);
  --color-bd-muted: var(--color-bd-muted-dark);

  /* Status */
  --color-success: var(--color-success-dark);
  --color-success-bd: var(--color-success-bd-dark);
  --color-success-fill: var(--color-success-fill-dark);

  --color-danger: var(--color-danger-dark);
  --color-danger-bd: var(--color-danger-bd-dark);
  --color-danger-fill: var(--color-danger-fill-dark);

  --color-info: var(--color-info-dark);
  --color-info-bd: var(--color-info-bd-dark);
  --color-info-fill: var(--color-info-fill-dark);

  --color-warning: var(--color-warning-dark);
  --color-warning-bd: var(--color-warning-bd-dark);
  --color-warning-fill: var(--color-warning-fill-dark);

  /* Accessibility */
  --color-focus: var(--color-focus-dark);
}

/* Light Color Versions */
html[data-theme='light'] {
  /* Backgound Colors*/
  --color-fill-back: var(--color-fill-back-light);
  --color-fill-base: var(--color-fill-base-light);
  --color-fill-middle: var(--color-fill-middle-light);
  --color-fill-front: var(--color-fill-front-light);
  --color-fill-top: var(--color-fill-top-light);

  /* Foreground Colors */
  --color-fg-strong: var(--color-fg-strong-light);
  --color-fg-default: var(--color-fg-default-light);
  --color-fg-subtle: var(--color-fg-subtle-light);
  --color-fg-muted: var(--color-fg-muted-light);

  /* Border Colors */
  --color-bd-strong: var(--color-bd-strong-light);
  --color-bd-default: var(--color-bd-default-light);
  --color-bd-muted: var(--color-bd-muted-light);

  /* Status */
  --color-success: var(--color-success-light);
  --color-success-bd: var(--color-success-bd-light);
  --color-success-fill: var(--color-success-fill-light);

  --color-danger: var(--color-danger-light);
  --color-danger-bd: var(--color-danger-bd-light);
  --color-danger-fill: var(--color-danger-fill-light);

  --color-info: var(--color-info-light);
  --color-info-bd: var(--color-info-bd-light);
  --color-info-fill: var(--color-info-fill-light);

  --color-warning: var(--color-warning-light);
  --color-warning-bd: var(--color-warning-bd-light);
  --color-warning-fill: var(--color-warning-fill-light);

  /* Accessibility */
  --color-focus: var(--color-focus-light);
}

body {
  position: relative;
  background: var(--color-fill-back);
  color: var(--color-default);
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  z-index: 10;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: color-mix(in oklch, var(--color-foreground) 5%, transparent);
  z-index: -10;
  mask: linear-gradient(to bottom, transparent 0%, transparent 60%, black 100%);
}

.scrollbar-y {
  overflow-y: scroll;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: calc(var(--spacing) * 3);
  }

  &::-webkit-scrollbar-track {
    background: var(--color-sec-background);
  }

  &::-webkit-scrollbar-thumb {
    background-color: color-mix(in oklch, var(--color-subtle) 50%, transparent);
    border-radius: calc(var(--spacing) * 6);
    border: 2px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-subtle);
  }
}

@media (width <= 64rem) {
  :root {
    --sidebar-width: calc(var(--spacing) * 14);
  }
}
