@keyframes moving_up {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	5%,
	95% {
		opacity: 1;
	}

	100% {
		transform: translateY(-300%);
		opacity: 0;
	}
}

.moving_up {
	animation: moving_up 20s linear infinite;
}

.moving_up_2 {
	animation: moving_up 30s linear infinite;
}

.moving_up_3 {
	animation: moving_up 40s linear infinite;
}
